* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
}

main {
    height: 100vh;
    width: 75%;
}

header {
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: white;
    margin-bottom: 1vh;

}

header>h1 {
    font-size: 4em;
    align-self: center;
}

header>img {
    display: flex;
    justify-self: end;
    align-self: center;
    height: calc(100% - 20%);
    padding-right: 1rem;
}

nav {
    height: 5vh;
    width: auto;
    margin-bottom: 0.6rem;
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
}

nav>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav>ul>li {
    height: auto;
    width: auto;
    padding: 10%;
}

nav>ul>li:hover {
    background-color: black;
    color: white;
}

nav>ul>li>a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

nav>ul>li>a:visited {
    color: inherit;
    background-color: transparent;
    text-decoration: none;
}

nav>ul>li>a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

nav>ul>li>a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

footer {
    height: fit-content;
    display: flex;
    flex-direction: column;
    background-color: white;
}

footer>.footer-bottom {
    display: flex;
    padding-top: 1%;
}

.main {
    height: 70vh;
    width: auto;
    display: flex;
    flex-direction: column;
    background-color: lightgrey;
    margin-bottom: 1vh;
}

.main>div:not(#middle) {
    background-color: white;
}

.main>div {
    height: calc(100% / 3);
    width: auto;
    margin: 1rem;
}

#middle {
    color: red;
}

@media (max-width: 1400px) {
    header>h1 {
        font-size: 5vw;
    }
}

@media (max-width: 900px) {
    header>img {
        scale: calc(100% * 0.90)
    }

    header>h1 {
        font-size: 7vw;
    }
}